html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    --background: white;
    --primary: white;
    --link: white;
    --secondary: white;
}

/* section {
    margin-bottom: 6rem;
} */

body {
    background-color: #ad510c73;
    border-radius: 5px;
}

#about-us, #products, #staff {
    margin: 3rem 0;
}

h3 {
    margin-left: 1.9rem;
    color:#fff;
    border-bottom: 0.5px solid #fff;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 400;
}

/* NavBar Section */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    margin: 0;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
    color: rgb(75, 103, 11);
}

/* Hero Section */
#hero {
    height: 25rem;
    max-width: 100%;
    background-image: url(https://images.pexels.com/photos/722653/pexels-photo-722653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: 60% 60%;
    background-size: cover;
    border-radius: 10px;
}

/* About Us Section */
.company-description {
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.company-description p {
    width: 50%;
}

/* Products Section */
.image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#9b9b9b;
    transition: transform .2s;
}

.image-container div {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: 1px solid #fefae0;
    background-color: white;
}

.image-container div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.image-container img {
    width: 180px;
    height: 170px;
    border-radius: 50%;
}

/* Staff Section */
.staff-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.staff-container div {
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fefae0;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.staff-container img {
    height: 120px;
    width: 150px;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: 1px solid fefae0;
}

.staff-container p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #9b9b9b;
}

/* Footer Section */

footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}