html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    --background: white;
    --primary: white;
    --link: white;
    --secondary: white;
}

section {
    padding: 3rem 0;
}

/* NavBar Section */
header {
    border-bottom: 2px solid #000;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: aqua;
    padding: 1rem 0;
    margin: 0;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

/* About Us Section */
#about-us {
    height: 31.25rem;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-description {
    text-align: center;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

/* Products Section */
#products {
    background-color: rgb(135, 148, 222);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-container div {
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1rem;
}

/* Staff Section */
#staff {
    background-color: chartreuse;
}

.staff-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.staff-container div {
    width: 200px;
    height: 200px;
    background-color: darkkhaki;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 2rem;
}

/* Footer Section */

footer {
    height: 200px;
    width: 100%;
    background-color: indianred;
}